.cardNumbers
    display: flex
    align-items: center
    background: white
    padding: 10px 16px
    border-radius: 10px 10px 0 0
    width: 440px
    height: 40px
    margin-left: 40px
    z-index: 2
    position: relative
    white-space: nowrap

    .sessionsScroll
        display: flex
        gap: 8px
        overflow: scroll// только горизонтальный скролл
        max-width: 300px // например, чтобы ограничить ширину
        white-space: nowrap
        &::-webkit-scrollbar
            height: 6px // меньшая высота полосы прокрутки

        &::-webkit-scrollbar-thumb

            transition: none // отключаем любые переходы при наведении

    .topBar
        display: flex
        gap: 8px
        align-items: center
        .cards
            border-radius: 10px 10px 0 0
            width: 48px
            height: 18px
            background: #656565
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            font-family: "Anaheim", sans-serif
            font-weight: 700
            font-size: 15px
            line-height: 147%
            letter-spacing: -0.01em
            text-align: center
            color: #ffc86f
            border: none
            top: -18px
.close
    border-radius: 10px 10px 0 0
    border: none
    width: 32px
    height: 18px
    position: absolute
    top: -18px
    right: 8px
    background: #fff
    color: #b0b0b0
    font-size: 25px
    font-weight: bold
    display: flex
    justify-content: center
    align-items: center

.open
    border-radius: 10px 10px 0 0
    border: none
    width: 32px
    height: 18px
    position: absolute
    top: -18px
    right: 8px
    background: #fff
    color: #b0b0b0
    font-size: 25px
    font-weight: bold
    display: flex
    justify-content: center
    align-items: flex-start

.containerCard
    display: flex
    align-items: center
    flex-direction: row
    gap: 10px

.topicName
    font-family: "Anaheim", sans-serif
    font-weight: 700
    letter-spacing: -0.01em
    text-align: right
    color: #656565
    font-size: 16px
    letter-spacing: -0.01em
    margin-left: 20px
    color: #656565

.activeSession
    background: #918E8E
    border: none
    padding: 6px 10px
    border-radius: 6px
    cursor: pointer
    transition: 0.2s
    font-family: "Anaheim", sans-serif
    font-weight: 700
    font-size: 16px
    letter-spacing: -0.01em
    text-align: center
    color: #ffffff
    width: 20px
    height: 20px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row

.label
    font-family: "Anaheim", sans-serif
    font-weight: 700
    font-size: 16px
    letter-spacing: -0.01em
    text-align: center
    color: #918e8e
    margin-right: 20px

.buttonCard
    background: #e0e0e0
    border: none
    padding: 6px 10px
    border-radius: 6px
    cursor: pointer
    transition: 0.2s
    font-family: "Anaheim", sans-serif
    font-weight: 700
    font-size: 16px
    letter-spacing: -0.01em
    text-align: center
    color: #918e8e
    width: 20px
    height: 20px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row

    &:hover
        background: #d6d6d6

.cardsContainer
    display: flex
    flex-direction: column
    background: white
    padding: 16px
    border-radius: 10px
    width: 440px
    margin-left: 40px

    margin-bottom: 50px
    z-index: 1
    background: #fff
    top: -10px
    position: relative
    max-height: 550px // Ограничение по высоте
    overflow-y: auto // Добавляем вертикальный скролл, если содержимого больше 550px

    z-index: 1

.header
    display: flex
    align-items: center
    gap: 10px
    position: relative

.cardsList
    display: flex
    flex-direction: column
    gap: 12px
    margin-top: 10px
    overflow-y: visible
    max-height: 550px
    animation: fadeIn 0.3s ease-in forwards

@keyframes fadeIn
    from
        opacity: 0

    to
        opacity: 1

.cardsList::-webkit-scrollbar-thumb
    background: #ccc
    border-radius: 4px

.card

    border-radius: 8px
    padding: 12px
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.05)
    background: #fff

.cardHeader
    display: flex
    align-items: center

    display: flex
    justify-content: space-around
    gap: 250px
    align-items: center
    .cardIcons
        gap: 20px
        display: flex
.questionBlock
    display: flex
    flex-direction: row
    gap: 10px
.cardNumber
    font-family: "Anaheim", sans-serif
    font-weight: 700
    font-size: 16px
    letter-spacing: -0.01em
    text-align: center
    color: #b8b8b8

.line
    width: 380px

.cardContent
    display: flex
    flex-direction: column
    gap: 6px

.question strong, .answer strong
    font-family: "Anaheim", sans-serif
    font-weight: 700
    font-size: 16px
    line-height: 137%
    letter-spacing: -0.01em
    color: #656565
    margin-left: 20px

.question p, .answer p
    font-family: "Anaheim", sans-serif
    font-weight: 600
    font-size: 15px
    line-height: 147%
    letter-spacing: -0.01em
    text-align: justify
    color: #918e8e

@media (max-width: 768px)
    .cardNumbers
        width: 380px
        margin: 0
        margin-top: 20px
        margin-bottom: 500px !important
    .cardsContainer
        width: 380px
        margin: 0
        top: -510px
        height: 400px
    .cardHeader
        gap: 180px
    .line
        width: 320px
    .cardList
        max-height: 150px
